openapi: 3.2.0
info:
  title: Connectivity Usage API
  description: Connectivity APIs help users manage their connectivity through APIs.
  version: 1.0.0
servers:
- url: https://api.korewireless.com/connectivity
  description: Production
security:
- {}
- Auth: []
- api_key: []
tags:
- name: usage
  description: A user can retrieve usage records for a given subscription or plan
paths:
  /v1/accounts/{account-id}/subscriptions/{subscription-id}/usage-records:
    get:
      tags:
      - usage
      summary: Finds Usage Records By Sim Number And Date Range
      description: Get usage records for a subscription
      operationId: getUsageRecordBySimNumberandDateRange
      parameters:
      - name: account-id
        in: path
        description: The unique identifier of your account
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscription-id
        in: path
        description: The unique identifier for the SIM
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: start-date
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: YYYY-MM-DD
      - name: end-date
        in: query
        description: Date range must fall in between 60 days
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: YYYY-MM-DD
      - name: source
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - cdr
      - name: include-plan-name
        description: Indicates whether the Plan Name of which the device is in when the usages is incurred should be included in the Response.
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Credentials:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  subscription-id:
                    type: string
                    example: cmp-k1-subscription-000000
                  data:
                    type: object
                    properties:
                      total-usage:
                        type: integer
                        example: 172769726373
                      unit:
                        type: string
                        example: byte
                      daily-usages:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              description: YYYY-MM-DD:HH:MM:SS
                              format: dateTime
                              example: '2022-10-24T00:00:00'
                            total-usage:
                              type: integer
                              example: 3545683147
                            unit:
                              type: string
                              example: byte
                          $$ref: '#/components/schemas/SingleFeatureUsageRecord_dailyusages'
                    $$ref: '#/components/schemas/SingleFeatureUsageRecord'
                  sms:
                    type: object
                    properties:
                      total-usage:
                        type: integer
                        example: 172769726373
                      unit:
                        type: string
                        example: event
                      daily-usages:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              description: YYYY-MM-DD:HH:MM:SS
                              format: dateTime
                              example: '2022-10-24T00:00:00'
                            total-usage:
                              type: integer
                              example: 3545683147
                            unit:
                              type: string
                              example: event
                          $$ref: '#/components/schemas/SingleFeatureUsageRecordSMS_dailyusages'
                    $$ref: '#/components/schemas/SingleFeatureUsageRecordSMS'
                  voice:
                    type: object
                    properties:
                      total-usage:
                        type: integer
                        example: 172769726373
                      unit:
                        type: string
                        example: sec
                      daily-usages:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              description: YYYY-MM-DD:HH:MM:SS
                              format: dateTime
                              example: '2022-10-24T00:00:00'
                            total-usage:
                              type: integer
                              example: 3545683147
                            unit:
                              type: string
                              example: sec
                          $$ref: '#/components/schemas/SingleFeatureUsageRecordVoice_dailyusages'
                    $$ref: '#/components/schemas/SingleFeatureUsageRecordVoice'
                $$ref: '#/components/schemas/SimUsageRecord'
        '400':
          description: Bad Request
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Credentials:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                $$ref: '#/components/schemas/xxx_Error'
        '401':
          description: Unauthorised User
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Credentials:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                required:
                - error
                - message
                type: object
                properties:
                  error:
                    type: integer
                    format: int32
                  message:
                    type: string
                $$ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Credentials:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                $$ref: '#/components/schemas/xxx_Error'
        '404':
          description: The Specified Resource Was Not Found
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Credentials:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  INFO:
                    type: string
                $$ref: '#/components/schemas/NotFound_Error'
        '500':
          description: Server Error
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Credentials:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  StatusCode:
                    type: integer
                  Messages:
                    type: array
                    items:
                      type: string
                  ErrorMessages:
                    type: array
                    items:
                      type: string
                $$ref: '#/components/schemas/5xx_Error'
      x-code-samples:
      - lang: cURL
        label: cURL
        source: 'curl --location --globoff ''{{baseUrl}}/v1/accounts/{account-id}/subscriptions/{subscription-id}/usage-records?start-date=<YYYY-MM-DD>&end-date=<YYYY-MM-DD>&source=<string>'' \

          --header ''Accept: application/json'''
      - lang: js
        label: NodeJs
        source: "var request = require('request');\nvar options = {\n   'method': 'GET',\n   'url': '{{baseUrl}}/v1/accounts/{account-id}/subscriptions/{subscription-id}/usage-records?start-date=<YYYY-MM-DD>&end-date=<YYYY-MM-DD>&source=<string>',\n   'headers': {\n      'Accept': 'application/json'\n   }\n};\nrequest(options, function (error, response) {\n   if (error) throw new Error(error);\n   console.log(response.body);\n});\n"
      - lang: java
        label: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder()\n   .build();\nMediaType mediaType = MediaType.parse(\"text/plain\");\nRequestBody body = RequestBody.create(mediaType, \"\");\nRequest request = new Request.Builder()\n   .url(\"{{baseUrl}}/v1/accounts/{account-id}/subscriptions/{subscription-id}/usage-records?start-date=<YYYY-MM-DD>&end-date=<YYYY-MM-DD>&source=<string>\")\n   .method(\"GET\", body)\n   .addHeader(\"Accept\", \"application/json\")\n   .build();\nResponse response = client.newCall(request).execute();"
      - lang: cs
        label: C#
        source: "var options = new RestClientOptions(\"{{baseUrl}}/v1/accounts/{account-id}/subscriptions/{subscription-id}/usage-records?start-date=<YYYY-MM-DD>&end-date=<YYYY-MM-DD>&source=<string>\")\n{\n   MaxTimeout = -1,\n};\nvar client = new RestClient(options);\nvar request = new RestRequest(\"\", Method.Get);\nrequest.AddHeader(\"Accept\", \"application/json\");\nRestResponse response = await client.ExecuteAsync(request);\nConsole.WriteLine(response.Content);"
      - lang: PHP
        label: Php
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n   CURLOPT_URL => '{{baseUrl}}/v1/accounts/{account-id}/subscriptions/{subscription-id}/usage-records?start-date=<YYYY-MM-DD>&end-date=<YYYY-MM-DD>&source=<string>',\n   CURLOPT_RETURNTRANSFER => true,\n   CURLOPT_ENCODING => '',\n   CURLOPT_MAXREDIRS => 10,\n   CURLOPT_TIMEOUT => 0,\n   CURLOPT_FOLLOWLOCATION => true,\n   CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n   CURLOPT_CUSTOMREQUEST => 'GET',\n   CURLOPT_HTTPHEADER => array(\n   'Authorization: Bearer <YOUR BEARER TOKEN>',\n   'x-api-key: <YOUR API KEY>')\n   CURLOPT_HTTPHEADER => array(\n      'Accept: application/json'\n   ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
      - lang: py
        label: Python
        source: "import requests\n\nurl = \"{{baseUrl}}/v1/accounts/{account-id}/subscriptions/{subscription-id}/usage-records?start-date=<YYYY-MM-DD>&end-date=<YYYY-MM-DD>&source=<string>\"\n\npayload = {}\nheaders = {\n   'Accept': 'application/json'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
      __originalOperationId: getUsageRecordBySimNumberandDateRange
      security:
      - {}
      - Auth: []
      - api_key: []
  /v1/accounts/{account-id}/plans/{plan-id}/usage-records:
    get:
      tags:
      - usage
      summary: Finds Usage Records By PlanId
      description: Get usage records for a plan
      operationId: getUsageRecordByPlanId
      parameters:
      - name: account-id
        in: path
        description: The unique identifier of your account
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: plan-id
        in: path
        description: The unique identifier of your plan
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: start-date
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: YYYY-MM-DD
      - name: end-date
        in: query
        description: Date range must fall in between 60 days
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: YYYY-MM-DD
      - name: source
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - cdr
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Credentials:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  plan-id:
                    type: string
                  total-usage:
                    type: integer
                  unit:
                    type: string
                  daily-usages:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          description: YYYY-MM-DD:HH:MM:SS
                          format: dateTime
                          example: '2022-10-24T00:00:00'
                        total-usage:
                          type: integer
                          example: 3545683147
                        unit:
                          type: string
                          example: byte
                      $$ref: '#/components/schemas/SingleFeatureUsageRecord_dailyusages'
                $$ref: '#/components/schemas/PlanUsageRecord'
        '400':
          description: Bad Request
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Credentials:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                $$ref: '#/components/schemas/xxx_Error'
        '401':
          description: Unauthorised User
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Credentials:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                required:
                - error
                - message
                type: object
                properties:
                  error:
                    type: integer
                    format: int32
                  message:
                    type: string
                $$ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Credentials:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                $$ref: '#/components/schemas/xxx_Error'
        '404':
          description: The Specified Resource Was Not Found
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Credentials:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  INFO:
                    type: string
                $$ref: '#/components/schemas/NotFound_Error'
        '500':
          description: Server Error
          headers:
            Access-Control-Allow-Origin:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Methods:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Credentials:
              style: simple
              explode: false
              schema:
                type: string
            Access-Control-Allow-Headers:
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                $$ref: '#/components/schemas/xxx_Error'
      x-code-samples:
      - lang: cURL
        label: cURL
        source: 'curl --location --globoff ''{{baseUrl}}/v1/accounts/{account-id}/plans/{plan-id}/usage-records?start-date=<YYYY-MM-DD>&end-date=<YYYY-MM-DD>&source=<string>'' \

          --header ''Accept: application/json'''
      - lang: js
        label: NodeJs
        source: "var request = require('request');\nvar options = {\n   'method': 'GET',\n   'url': '{{baseUrl}}/v1/accounts/{account-id}/plans/{plan-id}/usage-records?start-date=<YYYY-MM-DD>&end-date=<YYYY-MM-DD>&source=<string>',\n   'headers': {\n      'Accept': 'application/json'\n   }\n};\nrequest(options, function (error, response) {\n   if (error) throw new Error(error);\n   console.log(response.body);\n});\n"
      - lang: java
        label: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder()\n   .build();\nMediaType mediaType = MediaType.parse(\"text/plain\");\nRequestBody body = RequestBody.create(mediaType, \"\");\nRequest request = new Request.Builder()\n   .url(\"{{baseUrl}}/v1/accounts/{account-id}/plans/{plan-id}/usage-records?start-date=<YYYY-MM-DD>&end-date=<YYYY-MM-DD>&source=<string>\")\n   .method(\"GET\", body)\n   .addHeader(\"Accept\", \"application/json\")\n   .build();\nResponse response = client.newCall(request).execute();"
      - lang: cs
        label: C#
        source: "var options = new RestClientOptions(\"{{baseUrl}}/v1/accounts/{account-id}/plans/{plan-id}/usage-records?start-date=<YYYY-MM-DD>&end-date=<YYYY-MM-DD>&source=<string>\")\n{\n   MaxTimeout = -1,\n};\nvar client = new RestClient(options);\nvar request = new RestRequest(\"\", Method.Get);\nrequest.AddHeader(\"Accept\", \"application/json\");\nRestResponse response = await client.ExecuteAsync(request);\nConsole.WriteLine(response.Content);"
      - lang: PHP
        label: Php
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n   CURLOPT_URL => '{{baseUrl}}/v1/accounts/{account-id}/plans/{plan-id}/usage-records?start-date=<YYYY-MM-DD>&end-date=<YYYY-MM-DD>&source=<string>',\n   CURLOPT_RETURNTRANSFER => true,\n   CURLOPT_ENCODING => '',\n   CURLOPT_MAXREDIRS => 10,\n   CURLOPT_TIMEOUT => 0,\n   CURLOPT_FOLLOWLOCATION => true,\n   CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n   CURLOPT_CUSTOMREQUEST => 'GET',\n   CURLOPT_HTTPHEADER => array(\n   'Authorization: Bearer <YOUR BEARER TOKEN>',\n   'x-api-key: <YOUR API KEY>')\n   CURLOPT_HTTPHEADER => array(\n      'Accept: application/json'\n   ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
      - lang: py
        label: Python
        source: "import requests\n\nurl = \"{{baseUrl}}/v1/accounts/{account-id}/plans/{plan-id}/usage-records?start-date=<YYYY-MM-DD>&end-date=<YYYY-MM-DD>&source=<string>\"\n\npayload = {}\nheaders = {\n   'Accept': 'application/json'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
      __originalOperationId: getUsageRecordByPlanId
      security:
      - {}
      - Auth: []
      - api_key: []
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
    Auth:
      type: oauth2
      description: token expiry is given in seconds
      flows:
        clientCredentials:
          tokenUrl: https://api.korewireless.com/Api/api/token
          scopes: {}
